.body{
  margin: 0px;
  padding: 0px;
}

nav{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.438);
}
.title{
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  color: #425BB5;
  padding: 12px 50px;
}
.link{
  font-size: 20px;
  text-decoration: none;
  color: #242424;
  padding: 10px;
}
.link:hover{
  transition-duration: 100ms;
  color: #425BB5;
}